
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
<!--     {% load static %} -->
    {% load staticfiles %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" >
    <style>
      h1{
        text-align: center;
      }
      div{
        text-align: center;
      }
        </style>
        
</head> 
<body>
    <div class="p-3 mb-2 bg-dark"><h1><img src="{% static 'img/ti.webp' %}" class="img-fluid" ></div>
    <div class="container">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value = '블루아카이브'  onclick='getName()'checked>
        <label class="btn btn-outline-primary" for="btnradio1">테스트1</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value = '소녀전선' onclick='getName()'>
        <label class="btn btn-outline-primary" for="btnradio2">테스트2</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value = '명일방주' onclick='getName()'>
        <label class="btn btn-outline-primary" for="btnradio3">테스트3</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value = '페이트/그랜드오더' onclick='getName()'>
        <label class="btn btn-outline-primary" for="btnradio4">테스트4</label>
      </div>
    <div>    
        <button type="button" class="btn btn-outline-primary" onclick="refresh()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg>
          재생성
        </button>
      
    <div class="input-group mb-3">
        <input type="text" readonly class="form-control" placeholder="복사할 제목입니다." aria-label="copyTextHead" aria-describedby="button-addon1" id="textboxTitle" value='재생성 버튼을 눌러주세요'>
        <button class="btn btn-outline-secondary" type="button" id="toastr" button onclick="copyClipBoard('textboxTitle')">복사</button>
      </div>
      <div class="input-group mb-3">
        <input type="text" readonly class="form-control" placeholder="복사할 내용입니다." aria-label="copyTextBody" aria-describedby="button-addon2" id="textboxBody" value='재생성 버튼을 눌러주세요'>
        <button class="btn btn-outline-secondary" type="button" id="toastr" button onclick="copyClipBoard('textboxBody')">복사</button>
      </div>
    </div>
      

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <a href="https://www.grac.or.kr/Board/GameQna_ePeople_APP.aspx">
      <div class="card">
        <img src="{% static 'img/boss.webp' %}" class="card-img-top">
        <div class="card-body" >
          <h5 class="card-title">게임물관리위원회 민원 신청 사이트</h5>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
      <a href="https://www.epeople.go.kr/nep/pttn/gnrlPttn/PttnRqstWrtnInfo.paid">
      <div class="card">
        <link rel="stylesheet" img src="{% static 'img/boss2.jpg' %}" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">국민 신문고 민원 신청 사이트</h5>
        </div>
      </div>
    </a>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>


function copyClipBoard(event) {
var copyText = document.getElementById(event);
copyText.select();
copyText.setSelectionRange(0, 99999);
document.execCommand("Copy")
toastr.options = {"positionClass": "toast-bottom-right"}
toastr.success('복사완료')
}


function refresh() {
  $.ajax({
  url: "https://port-0-python-flask-11er1a24lbfxwsrs.gksl2.cloudtype.app/order/",
  data: {"gameName":$('input[name="btnradio"]:checked').val()},
  method: "GET",
  dataType: "json",
  contentType: "application/json",
  success: function(data) {
    console.log('데이터 수신 성공!');
    document.getElementById("textboxTitle").value = data.title;
    document. getElementById("textboxBody").value = data.body;
    },
  error:function(request,status,error){
        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
  })

function getName(){
  const gameNameList = document.getElementsByName('btnradio');
  gameNameList.forEach((node) => {
    if(node.checked) {
      checkedGame = document.getElementById("textboxTitle");
      checkedGame.value = node.value
    }
  })
}


</script>
</body>
</html>
